header {
    background-color: rgb(255, 255, 255);
    /* display: flex; */
    padding: 20px;
    margin-bottom: 10px;
    text-align: center;
}

animation-container{ 
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    font-size: 50px;
    text-align: center;
}

.rotulo {
    background-color: black;
    color: rgb(255, 255, 255);
    padding: 20px;
  }
  
  .texto .rotulo .transicao {
    background-color: transparent;
  }

  .logo2 {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    }
  .logo2 {   /* logo do MyAuto*/
    background-image: url("../img/MY\ AUT.png");
    min-height: 100%;
  }

  .secao {
    text-align: center;
    padding: 20px 60px;
  }
  
  .secao2 {
    background-color: aqua;
    color: black;
  
  }
  

/* Parte do Header (animação) */



#logo {
    max-height: 300px; /* Defina a altura máxima desejada para o logo */
    padding-right: 20px; /* Adicione espaço à direita do logo */
    max-width: 100%; /* Garante que a imagem não ultrapasse a largura do contêiner */
    height: auto; /* Mantém a proporção da imagem */
    
}

.texto{
font-size: 22px;
}

.jumbotron {
    background-color: #142b43;
    color: white;
    padding: 80px 25px;
    margin-bottom: 0;
}

.feature {
    padding: 60px 0;
    
}

.feature-icon {
    font-size: 3em;
    margin-bottom: 10px;
}

#qrcode-container {
    text-align: center;
    padding: 30px;
}

/* Adicionando estilos para o QR Code */
#qrcode {
    width: 250px; /* Defina o tamanho desejado */
    height: 250px; /* Defina o tamanho desejado */
    margin: auto; /* Centraliza na tela */
    display: block;
}

.welcome-text {
    padding-right: 20px; /* Espaçamento à direita para o texto de boas-vindas */
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

@media (min-width: 768px) {
    .welcome-text {
        flex-direction: row;
    }

    .welcome-text h1,
    .welcome-text p {
        margin-right: 20px;
    }
}