header {
    background-color: #0A0226;
    color: white;
    text-align: center;
    padding: 50px 0;
    position: relative;
    height: 240px;
}

p {
    text-shadow: 2px 2px #F2B705;
    font-size: 50px;
    text-align: center;
    margin-top: 30px; /* Adicionado para descer o texto */
    font-family: "Luminari", "fantasy";
}

header img {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 230px;
    height: 120px; /* Ajuste o tamanho da logo conforme necessário */
    height: auto;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fbefcd;
}

.container {
    max-width: 1200px; /* Largura máxima */
    margin: 20px auto;
    display: flex;
    justify-content: space-between; /* Espaço entre os elementos */
    background-color: #fbefcd; /* Cor de fundo padrão */
}

#btn-realizar-agendamento{
    background-color: #5096f2;
    width: 80%;
    height: 5%;
    margin-top: 30%;
    margin-bottom: 5%;
    color: #f1f1f1;
    font-size: 17px;
    

}

#btn-ver-agendamentos{
    background-color: #2da93b;
    width: 80%;
    height: 5%;
    color: #f1f1f1;
    font-size: 17px;
}


.menu {
    width: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    margin-top: 120px; /* Espaço entre o cabeçalho e o menu */
}

.menu button {
    background-image: linear-gradient(to right, #0A0226, #0798F2);
    color: white;
    border: 4px solid rgb(0, 0, 0);
    border-radius: 8px;
    padding: 10px 80px;
    cursor: pointer;
    font-size: 18px;
}

.horarios {
    width: 45%; /* Ajustar a largura para caber ao lado do formulário */
    margin-top: 20px;
}

.agendamento {
    width: 45%; /* Ajustar a largura para caber ao lado dos horários */
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
}

.agendamento form {
    display: block;
}

.agendamento label {
    display: block;
    margin-bottom: 5px;
}

.agendamento input[type="text"],
.agendamento textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.agendamento button {
    padding: 8px 12px;
    background-color: #0A0226;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin-bottom: 5px;
    width: 100%;
    max-width: 350px;
    height: 50px;
    margin: 0 auto 5px;
}

.agendamento button:hover {
    background-color: #1e2730;
}

.btn-horario {
    width: 120px;
    height: 80px;
    background-color: #0A0226;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    color: #f1f1f1;
    font-size: 20px;
    transition: background-color 0.3s;
}

.btn-horario.agendado,
.btn-horario.agendado:hover {
    background-color: #ff6666;
}

/* Estilo para o ícone do calendário */
.calendario-icon {
    cursor: pointer;
    margin-left: 5px;
    font-size: 24px; /* Ajuste o tamanho conforme necessário */
}

/* Media queries para responsividade */
@media only screen and (max-width: 768px) {
    header img {
        width: 100px; /* Ajustar o tamanho da logo em telas menores */
    }
    .menu button {
        padding: 10px 40px;
    }
    .container {
        flex-direction: column; /* Colocar os elementos um embaixo do outro em telas menores */
    }
    .horarios, .agendamento {
        width: 100%; /* Ajustar a largura para 100% em telas menores */
    }
}

@media only screen and (max-width: 480px) {
    header img {
        width: 80px; /* Ajustar o tamanho da logo em telas menores */
    }
    .menu button {
        padding: 10px 30px;
        font-size: 16px;
    }
}
